*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.abajo{
    background:#fff;
    padding: 15px 20px;
}

.menu{
    display: none;
}
#carouselExampleCaptions{
    margin-top: -30px;
}
.img{
    
    width: 500px;
}
nav{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;

    text-decoration: none;
    color: fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 20px;
    transition: 0.7s;
}
#carouselExampleCaptions{
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel-item h5{
    color: black;
    font-size: 40px;

    
}
.carousel-item{
    max-width: 2000px;
    max-height: 700px;
}
/*INFO*/

.info{
    padding: 700px;
    margin-top: -700px;
}
.info h1{
    text-align: center;
    margin-top: 40px;
}
.info p{
    display: flex;
    color: #000000;
    margin-top: 40px;
    text-align: center;
    margin-left: 0px;
    font-size: 20px;

}
/*Productos*/
.container-Prod{
    margin-top: -300px;
    justify-content: center;
    text-align: center;
    padding: 300px;
    width: 100%;
    background-image: url("img/ITAP of an elevator shaft.jpeg");
    background-position: center;
}   
.container-Prod h1{
    text-align: center;
    color: white;
    top: 100%;
    margin-top: -200px;


}

.container-Prod .col{
    margin-top: 600px;
    margin-bottom: -200px;
}
/*Obras*/
.container-obr{
    justify-content: center;
    text-align: center;
    padding: 700px;
    margin-top: -700px;
}
/*CONTACTO*/
.container-tercero {
    display: flex;
    flex-direction: row;
    background-color: #272a32;
    justify-content: space-around;
}

.container-contacto-general {
    background-color: #272a32;
    padding: 2.2em 2.5em;
    height: 600px;
    width: 60%;
}

.contacto-title h2 {
    color: #ffffff;
    font-size: 2rem;
}

.container-contacto {
    display: flex;
    flex-direction: row;
    background-color: #272a32;
    justify-content: left;
    align-items: left;
    margin-top: 3em;
    gap: 2.7em;
    display: grid;
}

/*FORM*/

.form-group {
    position: relative;
    --color: #5757577e;
    padding-top: 15px;
}

.form-input {
    width: 100%;
    background: none;
    color: #B3B3B3;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form-input:not(:placeholder-shown) {
    color: #4d464d;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    transform: translateY(-2px) scale(.9);
    transform-origin: left top;
}

.form-label {
    position: absolute;
    font-family: "lato", sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #ffffff;
    top: -20px;
    left: 5px;
    transform: translateY(15px);
    transition: transform .5s, color .3s;
    cursor: pointer;
}

.cta {
    width: 100px;
    background-color: #4351fc;
    border-radius: 3px;
    padding: 15px;
    margin-top: 40px;
}

.form-submit {
    background-color: #5362ff;
    font-size: 1rem;
    padding: 1em 0;
    border: none;
    border-radius: .25em;
    text-align: center;
    justify-content: center;
}

.form-submit a {
    font-weight: 700;
}

.form-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: .4s;
}
.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line {
    transform: scale(1);
}
@media (max-width:425px) {
    .contacto-h h2{
        font-size: 1.8rem;
    }
}

/* Info de contacto */

.container-tercero-info {
    width: 40%;
    background-color: #000000;
}

.contacto-title-info h2 {
    color: #ffffff;
    font-weight: 400;
    padding: 1.6em 2em;
}

.container-info {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1em 3em 3em;
}

.container-info img {
    width: 50px;
    height: 40px;
    padding-right: 1em;
}

.text-info {
    text-align: left;
}
.icono{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.container-info b, p {
    color: #ffffff;
    font-size: 1rem;
}
